<p>Olá #{name}</p>

<p>Por favor, acesse o link abaixo para recuperar a sua conta e redefinir a sua senha. Clique no link abaixo, ou se preferir copie e cole o endereço abaixo no navegador:</p>

<p><a href="#{url}">"#{url}"</a></p>

<p>Se você não solicitou este email, por favor ignore-o</p>

<p>Ferrari Hcode Project</p>

